.shadow{
    margin-top: 60px;
     margin-left: 30px; 
     
  }
.container-box{
    width:auto; 
    background-color:rgb(255, 255, 255);
     border-radius: 7px; 
     box-shadow: 1px 3px 3px 3px #aaaaaa;
     padding: 5px 12px 5px 12px;
     margin: 25px 25px 25px 25px;
  }

  .img{
    width: 16px; 
    margin-left: 30px;
  }
  
  .add-note-input {
    outline: none;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .desc-class{
    margin-bottom: 10px; 
    padding-bottom: 5px;
  }
  /*
  .hidden .shadow {
    visibility: hidden;
  }
  .hidden:hover .shadow{
    visibility: visible;
  }*/
  