<div class="main-container"  fxLayout="column">
    <!---header-->
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <!---header-->
        <div class="left-side" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="menu_bar">
                <img class="menu" src="../../../assets/bars-solid.svg">
            </div>
            <div class="fundoo_img">
                <img src="../../../assets/note-icon.png">
            </div>
            <div class="fundoo_name">
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: yellow;">n</span>
                    <span style="color: green;">d</span>
                    <span style="color: red;">o</span>
                    <span style="color: blue;">o</span>
                </h1>
            </div>
        </div>
        <!---header-->
        <div class="search" fxLayoutAlign="center center">
            
        </div>
        <!---header-->
        <div class="right-side" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="refresh-arrow">
               <img src="../../../assets/Refresh.png">
            </div>
            <div class="list-menu-btn">
                <i class="fa-thin fa-square-list" class="list-menu"></i>
            </div>
            <div class="settings" class="settings">
                <img src="../../../assets/settingicon.png">
            </div>
        </div>
    </div>

    <!---lower-body-->
    <div class="body"></div>
</div>