<div class="main-container"  fxLayout="column">
    <!---header-->
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <!---header-->
        <div class="left-side" fxLayout="row" fxLayoutAlign="space-around center">
            <img src="../../../assets/menu.png"/>
            <img src="../../../assets/note-icon.png">
            <div class="project-name">
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: yellow;">n</span>
                    <span style="color: green;">d</span>
                    <span style="color: red;">o</span>
                    <span style="color: blue;">o</span>
                </h1>
            </div>
        </div>

        <form class="submit">
            <button type="submit">Search</button>
            <input class="submit" type="search" placeholder="Search...">
        </form>

        <div class="left-side">
            <img src="../../../assets/refresh.png">
            <img src="../../../assets/view_list.png" alt="list-menu">
            <img src="../../../assets/settings.png">
        </div>
        <div class="account">
            <img src="../../../assets/apps.png">
            <img src="../../../assets/account_circle.png">
        </div>
        
    </div>
    <hr>
    <!---lower-body-->
    <div class="body"></div>
</div>