<div class="container">
    <!---header-->
    <div class="header" fxLayout="column" fxLayoutAlign="space-around center">
        <!---Logo-->
        <div class="Logo-name">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
            <h1 class="heading">Forget Password</h1>
            <h2 class="sub-heading">Enter your phone number or recovery email</h2>
        </div>
    </div>
    <!---Email-->
    <div class="Email">
        <div class="email-class">
            <mat-form-field appearance="outline" style="width:23vw;">
                 <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="">
                <mat-error>Enter valid email</mat-error>
            </mat-form-field>
        </div>
    </div>
    <!---Submit-btn-->
    <div class="route-btn">
        <button mat-button class="reset" routerLink="/reset-password">Reset password</button>
        <button class="btn-next" mat-flat-button>Next</button>
    </div>
</div>
