<div class="container">
    <!---header-->
    <div class="header">
        <!---Logo-->
        <div class="Logo-name">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
            <h1 class="heading">Find your email</h1>
            <h2 class="sub-heading">Enter your phone number or recovery email</h2>
        </div>
    </div>
    <!---Email-->
    <div class="Email">
        <div class="email-class">
            <mat-form-field appearance="outline">
                 <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="">
                <mat-error>Valid email required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <!---Submit-btn-->
    <div class="btn">
        <button class="button-class" mat-flat-button>Next</button>
    </div>
</div>
