.img1{
    height:27px;
    width:24px;
  }
.menu-btn{
    border: transparent;
    background-color: transparent;
  }
  .btn-grp{
    border: transparent;
    background-color: transparent;
  }
.imgs{
  height:30px;
  width:22px;
}