<div class="sub-icon-container" fxLayout="row" fxLayoutGap="20px">
    <img class="img1" src="../../../assets/ghnti.png">
    <img class="img1" src="../../../assets/collab.png">
    <img class="img1" src="../../../assets/ColourPalete.png">
    <img class="img1" src="../../../assets/imgs.png">
    <img class="img1" src="../../../assets/archive.png">

    <div class="more">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn">
            <img class="img1" src="../../../assets/more.png">
        </button>
        <mat-menu #menu="matMenu">

              <button mat-menu-item>
                <span>Delete Note</span>
              </button>
              <button mat-menu-item >
                <span>Add  label</span>
              </button>
              <button mat-menu-item>
                <span>Add drawing</span>
              </button>
              <button mat-menu-item>
                <span>Make a Copy</span>
              </button>
              <button mat-menu-item>
                <span>Show tick boxes</span>
              </button>
              <button mat-menu-item>
                <span>Copy to Google Docs</span>
              </button>

        </mat-menu>
    </div>
    
</div>
